header {
    background-color: #590202;
    color: darkgoldenrod;
    font-family: monospace;
    text-align: center;
    border: double 4px #fff717;
    padding: 10px;
}

nav {
    background-color: lightgray;
    color: darkgrey;
    padding: 5px;
    font-family: "Georgia", Times, Serif;
    font-weight: 2;
    text-align: center;
    width: 100%;
}

.a:hover {
    color: firebrick;
}

.h2 {
    color: #003153;
    font-size: 15px;
    font-family: "Georgia";
    text-align: center;
}

.p {
    font-family: "Georgia";
    color: #590202;
    margin-right:20px;
    margin-left:20px;
    font-weight: bold;
    border:2px groove black;
    padding:20px;
    text-align: center;
    background-color: #d1d1d1;
}

body{
  background-color: #a3a3a3;
}

.Members {
  margin: 4px;
  padding: 4px 8px;
  border: 1px solid #999;
  border-radius: 5px;
  background-color: white;
}

#csvbutton {
  height: 200px;
  display: flex;
  justify-content: center;
  border: 3px solid red;
}

.h4  {
    color: #003153;
    font-size: 15px;
    font-family: "Georgia";
    text-align: center;
}
